@font-face {
   font-family: Helvetica-Regular;
   src: url(Helvetica-Regular.ttf);
}
@font-face {
   font-family: Gotham-Book;
   src: url(Gotham-Book.ttf);
}
@font-face {
   font-family: helvetica-bold;
   src: url(helvetica-bold.ttf);
}
@font-face {
   font-family: Birds of Paradise;
   src: url(Birds of Paradise.ttf);
}
@font-face {
   font-family: Trajan Pro Regular;
   src: url(Trajan Pro Regular.ttf);
}
@font-face {
   font-family: TriodPostnaja;
   src: url(TriodPostnaja.ttf);
}
@font-face {
   font-family: mark_my_words;
   src: url(mark_my_words.ttf);
}
@font-face {
   font-family: steelfish rg;
   src: url(steelfish rg.ttf);
}
@font-face {
   font-family: OstrichSans-Medium;
   src: url(OstrichSans-Medium.otf);
}
@font-face {
   font-family: BebasNeue-Regular;
   src: url(BebasNeue-Regular.otf);
}
@font-face {
   font-family: LemonMilk;
   src: url(LemonMilk.otf);
}
@font-face {
   font-family: FondyScript_PERSONAL_USE_ONLY;
   src: url(FondyScript_PERSONAL_USE_ONLY.ttf);
}
@font-face {
   font-family: RolleteQaku-Regular;
   src: url(RolleteQaku-Regular.ttf);
}
@font-face {
   font-family: RolleteQaku-Regular;
   src: url(RolleteQaku-Regular.otf);
}
@font-face {
   font-family: KaushanScript-Regular;
   src: url(KaushanScript-Regular.otf);
}
@font-face {
   font-family: DK Blackminster;
   src: url(DK Blackminster.otf);
}
@font-face {
   font-family: Bulgaria Moderna V3;
   src: url(Bulgaria Moderna V3.otf);
}
@font-face {
   font-family: Church_Text_'Shaded';
   src: url(Church_Text_'Shaded'.ttf);
}
@font-face {
   font-family: Churchman_Regular;
   src: url(Churchman_Regular.ttf);
}
@font-face {
   font-family: Brandon_bld;
   src: url(Brandon_bld.otf);
}
@font-face {
   font-family: Brandon_reg;
   src: url(Brandon_reg.otf);
}
@font-face {
   font-family: ACaslonPro-Regular;
   src: url(ACaslonPro-Regular.otf);
}
@font-face {
   font-family: LibreBaskerville-Regular;
   src: url(LibreBaskerville-Regular.otf);
}
@font-face {
   font-family: steelfish-rg;
   src: url(steelfish-rg.ttf);
}
@font-face {
   font-family: DK-Blackminster;
   src: url(DK-Blackminster.otf);
}
@font-face {
   font-family: steelfish-outline;
   src: url(steelfish-outline.ttf);
}
@font-face {
   font-family: Bulgaria-Moderna-V3;
   src: url(Bulgaria-Moderna-V3.otf);
}
@font-face {
   font-family: FuturaPTMedium;
   src: url(FuturaPTMedium.otf);
}
@font-face {
   font-family: avenir-next-regular;
   src: url(avenir-next-regular.ttf);
}
@font-face {
   font-family: steelfish-rg-it;
   src: url(steelfish-rg-it.ttf);
}
